// Importa las funciones y variables de Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";


// Reescribe los colores de bootstrap

// Importa Bootstrap completo
@import "~bootstrap/scss/bootstrap";

// Tus estilos personalizados
body {
    font-family: 'Arial', sans-serif;
  }

  //Para los container del modal de iniciar sesión
  .custom-container {
    width: 400px; /* Ancho fijo */
    height: 250px; /* Alto fijo */
    display: flex;
    justify-content: center; /* Centrar texto horizontalmente */
    align-items: center; /* Centrar texto verticalmente */
    border-radius: 10px; /* Bordes redondeados (opcional) */
    text-decoration: none; /* Quitar subrayado de enlaces */
}

// Define una clase para el hover
.custom-hover {
    color: $secondary; // Color inicial usando la variable Bootstrap
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $dark; // Cambia a un color de peligro (rojo) al hover
      text-decoration: none;
      font-weight: bold;
    }
  }

#welcome {

    background: linear-gradient(90deg, $blue-200, $green-200, $yellow-200);
    font-family: 'Roboto Flex', serif;


}

//sidebar de admin
#sidebar {
    background: linear-gradient(
        to top right,
        $blue-800,
        $cyan-100
    );
}

#admin {
    font-family: 'Roboto Flex', serif;
    background-color: $light;

}

  @mixin gradient-radial($inner-color: $gray-700, $outer-color: $gray-800) {
    background-image: radial-gradient(circle, $inner-color, $outer-color);
  }

#admin-login {

    @include gradient-radial($orange-100, $blue-600);
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% de la altura de la ventana */
}

#traveler {
    font-family: "Baloo Paaji 2", sans-serif;
    background-color: $yellow-100;
}

#hotel {
    font-family: "Baloo Paaji 2", sans-serif;
    background-color: $green-100;
}

// Estilo de la tabla con hover personalizado
.table-light {
    background-color: $light !important; // Fondo claro
  }

  .table-hover {
    tbody tr:hover {
      background-color: $info !important; // Hover en color info
    }
  }

  //Para icono
  // Efecto hover para el color del ícono
.hover-icon {
    transition: color 0.3s ease, transform 0.3s ease; // Suaviza la animación

    &:hover {
      color: $warning; // Usa la variable de Bootstrap para color amarillo
      transform: scale(1.2); // Amplía ligeramente el ícono
    }
  }

  // Fondo en hover para el enlace
  .hover-bg {
    transition: background-color 0.3s ease; // Suaviza el cambio de fondo

    &:hover {
      background-color: rgba(255, 193, 7, 0.1); // Fondo amarillo transparente
      border-radius: 50%; // Hace el fondo circular
    }
  }
